[Desktop Entry]
Type=Application
Name=HSP Script Editor
Comment=Hot Soup Processor script editor
Icon=hsed
Exec=hsed
Terminal=false
Categories=Development;IDE;
