@@ header
#include "hsp3cl.as"

@@ hsp_module
#module

#deffunc fill_builtin_args array ints, array reals, local i
	dim src, 4
	ddim ds, 4

	src(0) = -4
	src.1 = 7
	src(2) = -9
	src.3 = 15

	ds(0) = -1.5
	ds.1 = 2.25
	ds(2) = -3.75
	ds.3 = 9.0

	i = 1
	ints(0) = abs(src.0) + limit(src.i, 0, 10)
	ints(1) = abs(src.(i + 1)) + int(sqrt(ds.3))
	ints(2) = limit(abs(src.i + src.(i + 1)), 0, 20)

	reals(0) = absf(ds.0) + limitf(ds.i, 0.0, 5.0)
	reals(1) = sqrt(absf(ds.(i + 1)) + 0.25)
	reals(2) = limitf(absf(ds.i + ds.(i + 1)), 0.0, 10.0)
	return

#deffunc dummy_00
	return

#global
@@ chsp_c_module
#chsp_module "array_builtin_args_chsp_c" target=c

#chsp_deffunc fill_builtin_args array[int] ints, array[double] reals, local[int[4]] src, local[double[4]] ds, local[int] i
	src(0) = -4
	src.1 = 7
	src(2) = -9
	src.3 = 15

	ds(0) = -1.5
	ds.1 = 2.25
	ds(2) = -3.75
	ds.3 = 9.0

	i = 1
	ints(0) = abs(src.0) + limit(src.i, 0, 10)
	ints(1) = abs(src.(i + 1)) + int(sqrt(ds.3))
	ints(2) = limit(abs(src.i + src.(i + 1)), 0, 20)

	reals(0) = absf(ds.0) + limitf(ds.i, 0.0, 5.0)
	reals(1) = sqrt(absf(ds.(i + 1)) + 0.25)
	reals(2) = limitf(absf(ds.i + ds.(i + 1)), 0.0, 10.0)
	return
#chsp_end

#deffunc dummy_00
	return

#chsp_module_end
@@ chsp_p_module
#chsp_module "array_builtin_args_chsp_p"

#chsp_deffunc fill_builtin_args array[int] ints, array[double] reals, local[int[4]] src, local[double[4]] ds, local[int] i
	src(0) = -4
	src.1 = 7
	src(2) = -9
	src.3 = 15

	ds(0) = -1.5
	ds.1 = 2.25
	ds(2) = -3.75
	ds.3 = 9.0

	i = 1
	ints(0) = abs(src.0) + limit(src.i, 0, 10)
	ints(1) = abs(src.(i + 1)) + int(sqrt(ds.3))
	ints(2) = limit(abs(src.i + src.(i + 1)), 0, 20)

	reals(0) = absf(ds.0) + limitf(ds.i, 0.0, 5.0)
	reals(1) = sqrt(absf(ds.(i + 1)) + 0.25)
	reals(2) = limitf(absf(ds.i + ds.(i + 1)), 0.0, 10.0)
	return
#chsp_end

#deffunc dummy_00
	return

#chsp_module_end
@@ main

dim ints, 3
ddim reals, 3
fill_builtin_args ints, reals

mes "BUILTIN"
repeat 3
	mes "" + ints(cnt)
loop
repeat 3
	mes strf("%.3f", reals(cnt))
loop

end

dummy_00
@@ hsp
{{header}}{{hsp_module}}{{main}}
@@ chsp_c
{{header}}{{chsp_c_module}}{{main}}
@@ chsp_p
{{header}}{{chsp_p_module}}{{main}}
