@@ header
#include "hsp3cl.as"

@@ hsp_module
#module

#defcfunc pass_value int v
	return v

#deffunc copy_value array a, int slot, int v
	a(slot) = v
	return

#deffunc write_values array a, local i, local sum
	a(0) = 10
	a.5 = 123
	i = 2
	a.i = 3
	a.i+
	a(8) = a.i
	a.i-
	a(9) = a.i
	a.i++
	a(10) = a.i
	a.i += 2
	a.i--
	a(11) = a.i
	a.i -= 1
	a(i) = 10
	a(i)+
	a(12) = a(i)
	a(i)-
	a(13) = a(i)
	a(i)++
	a(14) = a(i)
	a(i) += 3
	a(i)--
	a(15) = a(i)
	a(i) -= 3
	a.(i + 5) = 10
	a.(i + 5)+
	a(16) = a.(i + 5)
	a.(i + 5)-
	a(17) = a.(i + 5)
	a.(i + 5)++
	a(18) = a.(i + 5)
	a.(i + 5) += 2
	a.(i + 5)--
	a(19) = a.(i + 5)
	a.(i + 5) -= 3
	a(i + 5) = 20
	a(i + 5)+
	a(20) = a(i + 5)
	a(i + 5)-
	a(21) = a(i + 5)
	a(i + 5)++
	a(22) = a(i + 5)
	a(i + 5) += 4
	a(i + 5)--
	a(23) = a(i + 5)
	a(i + 5) -= 4
	sum = a(0) + a.i + a.5 + a.(i + 5)
	a(1) = sum
	if a.i = 4 : a(3) = 1 : else : a(3) = 0
	copy_value a, 4, a.i
	a(6) = pass_value(a.(i + 5)) + pass_value(a.i)
	return

#deffunc dummy_00
	return

#global
@@ chsp_c_module
#chsp_module "array_access_chsp_c" target=c

#chsp_defcfunc int pass_value int v
	return v
#chsp_end

#chsp_deffunc copy_value array[int] a, int slot, int v
	a(slot) = v
	return
#chsp_end

#chsp_deffunc write_values array[int] a, local[int] i, local[int] sum
	a(0) = 10
	a.5 = 123
	i = 2
	a.i = 3
	a.i+
	a(8) = a.i
	a.i-
	a(9) = a.i
	a.i++
	a(10) = a.i
	a.i += 2
	a.i--
	a(11) = a.i
	a.i -= 1
	a(i) = 10
	a(i)+
	a(12) = a(i)
	a(i)-
	a(13) = a(i)
	a(i)++
	a(14) = a(i)
	a(i) += 3
	a(i)--
	a(15) = a(i)
	a(i) -= 3
	a.(i + 5) = 10
	a.(i + 5)+
	a(16) = a.(i + 5)
	a.(i + 5)-
	a(17) = a.(i + 5)
	a.(i + 5)++
	a(18) = a.(i + 5)
	a.(i + 5) += 2
	a.(i + 5)--
	a(19) = a.(i + 5)
	a.(i + 5) += 2
	a.(i + 5) -= 3
	a(i + 5) = 20
	a(i + 5)+
	a(20) = a(i + 5)
	a(i + 5)-
	a(21) = a(i + 5)
	a(i + 5)++
	a(22) = a(i + 5)
	a(i + 5) += 4
	a(i + 5)--
	a(23) = a(i + 5)
	a(i + 5) -= 4
	sum = a(0) + a.i + a.5 + a.(i + 5)
	a(1) = sum
	if a.i = 4 : a(3) = 1 : else : a(3) = 0
	copy_value a, 4, a.i
	a(6) = pass_value(a.(i + 5)) + pass_value(a.i)
	return
#chsp_end

#deffunc dummy_00
	return

#chsp_module_end
@@ chsp_p_module
#chsp_module "array_access_chsp_p"

#chsp_defcfunc int pass_value int v
	return v
#chsp_end

#chsp_deffunc copy_value array[int] a, int slot, int v
	a(slot) = v
	return
#chsp_end

#chsp_deffunc write_values array[int] a, local[int] i, local[int] sum
	a(0) = 10
	a.5 = 123
	i = 2
	a.i = 3
	a.i+
	a(8) = a.i
	a.i-
	a(9) = a.i
	a.i++
	a(10) = a.i
	a.i += 2
	a.i--
	a(11) = a.i
	a.i -= 1
	a(i) = 10
	a(i)+
	a(12) = a(i)
	a(i)-
	a(13) = a(i)
	a(i)++
	a(14) = a(i)
	a(i) += 3
	a(i)--
	a(15) = a(i)
	a(i) -= 3
	a.(i + 5) = 10
	a.(i + 5)+
	a(16) = a.(i + 5)
	a.(i + 5)-
	a(17) = a.(i + 5)
	a.(i + 5)++
	a(18) = a.(i + 5)
	a.(i + 5) += 2
	a.(i + 5)--
	a(19) = a.(i + 5)
	a.(i + 5) += 2
	a.(i + 5) -= 3
	a(i + 5) = 20
	a(i + 5)+
	a(20) = a(i + 5)
	a(i + 5)-
	a(21) = a(i + 5)
	a(i + 5)++
	a(22) = a(i + 5)
	a(i + 5) += 4
	a(i + 5)--
	a(23) = a(i + 5)
	a(i + 5) -= 4
	sum = a(0) + a.i + a.5 + a.(i + 5)
	a(1) = sum
	if a.i = 4 : a(3) = 1 : else : a(3) = 0
	copy_value a, 4, a.i
	a(6) = pass_value(a.(i + 5)) + pass_value(a.i)
	return
#chsp_end

#deffunc dummy_00
	return

#chsp_module_end
@@ main

dim a, 32
write_values a

repeat 24
	mes "" + a(cnt)
loop

end

dummy_00
@@ hsp
{{header}}{{hsp_module}}{{main}}
@@ chsp_c
{{header}}{{chsp_c_module}}{{main}}
@@ chsp_p
{{header}}{{chsp_p_module}}{{main}}
