@@ header
#include "hsp3cl.as"

@@ hsp_module
#module

#deffunc fill_grid array grid, local i, local j
	repeat 2
		i = cnt
		repeat 3
			j = cnt
			grid(i * 3 + j) = i * 10 + j + 1
		loop
	loop
	return

#deffunc dummy_00
	return

#global
@@ chsp_c_module
#chsp_module "nested_chsp_c" target=c

#chsp_deffunc fill_grid array[int] grid, local[int] i, local[int] j
	repeat 2
		i = cnt
		repeat 3
			j = cnt
			grid(i * 3 + j) = i * 10 + j + 1
		loop
	loop
	return
#chsp_end

#deffunc dummy_00
	return

#chsp_module_end
@@ chsp_p_module
#chsp_module "nested_chsp_p"

#chsp_deffunc fill_grid array[int] grid, local[int] i, local[int] j
	repeat 2
		i = cnt
		repeat 3
			j = cnt
			grid(i * 3 + j) = i * 10 + j + 1
		loop
	loop
	return
#chsp_end

#deffunc dummy_00
	return

#chsp_module_end
@@ main

	dim grid, 6
	fill_grid grid

	mes "NESTED"
	repeat 2
		i = cnt
		repeat 3
			j = cnt
			mes "" + grid(i * 3 + j)
		loop
	loop
	end

dummy_00
@@ hsp
{{header}}{{hsp_module}}{{main}}
@@ chsp_c
{{header}}{{chsp_c_module}}{{main}}
@@ chsp_p
{{header}}{{chsp_p_module}}{{main}}
